* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  color: #fff;
  background: url("https://source.unsplash.com/bs1eqd6zSiU/") center right/cover no-repeat;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  overflow: hidden; }

.button-success {
  background-color: #27ae60 !important;
  border-color: #27ae60 !important; }

input[type="radio"] {
  width: 2.5vh;
  height: 2.5vh; }

input[type="checkbox"] {
  width: 2.8vh;
  height: 2.8vh; }

button {
  justify-self: center;
  align-self: center; }
  button a {
    text-decoration: none;
    color: #fff; }

.iti__country-list {
  color: #777; }

#home-sec {
  height: 100vh;
  position: relative; }

#home-sec::after,
form::after {
  content: "";
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
  width: 100%;
  height: 100%; }

.container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column; }

#home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-self: center;
  justify-self: center;
  justify-content: center; }
  #home-container .row {
    text-align: justify;
    display: flex;
    align-items: flex-start;
    flex-direction: column; }
    #home-container .row span {
      font-size: 4vh;
      display: block; }
    #home-container .row p {
      font-size: 2.2vh;
      margin: 0; }
    #home-container .row .to-survey {
      display: flex;
      flex-direction: column;
      justify-content: center;
      animation: moveInLeft 0.8s ease-in-out; }
    #home-container .row .intro {
      animation: moveInRight 0.8s ease-in-out; }
  #home-container #startBtn {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 4rem 0; }
  #home-container .tagline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: moveInBottom 0.8s ease-out; }
    #home-container .tagline p:first-child {
      margin-bottom: 1rem;
      font-weight: 100;
      font-family: "Roboto", sans-serif;
      line-height: 1;
      font-size: 5vh; }
    #home-container .tagline p:last-child {
      margin: 0;
      font-size: 2vh; }
      #home-container .tagline p:last-child i {
        padding: 0 0.5rem; }
      #home-container .tagline p:last-child i:first-child {
        transform: rotate(90deg); }
      #home-container .tagline p:last-child i:last-child {
        transform: rotate(270deg); }
    #home-container .tagline span {
      display: block;
      font-weight: 700; }

#main-survey {
  scroll-behavior: smooth;
  height: 100vh;
  overflow: hidden;
  position: relative; }
  #main-survey #q1 h2 {
    font-weight: 500; }

.survey-card {
  height: 100vh;
  align-items: flex-start;
  justify-content: center; }
  .survey-card .nav-btn {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .survey-card .nav-btn a,
    .survey-card .nav-btn input[type="submit"] {
      margin: 0 5vh; }
  .survey-card p {
    font-weight: 500;
    font-size: 2vh; }
  .survey-card .ques {
    width: 100%;
    position: relative;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    animation: moveInRight 0.8s ease-in-out; }
    .survey-card .ques h4 {
      font-weight: 500; }
    .survey-card .ques .checkbox .issue {
      display: flex;
      align-items: center;
      align-content: center; }
      .survey-card .ques .checkbox .issue label {
        padding-left: 1rem;
        padding-bottom: 1rem;
        font-size: 2.5vh;
        align-self: center;
        font-weight: 400; }
    .survey-card .ques .rating-radio {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
    .survey-card .ques .rating-num {
      font-size: 2.5vh;
      font-family: monospace;
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      .survey-card .ques .rating-num label:last-child {
        margin-left: -1.2vh; }

#final-step .info {
  margin: 0 auto;
  padding: 2vh 8vh;
  background-color: rgba(244, 244, 244, 0.1);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  width: 100%; }

label {
  display: block;
  padding: 0.2rem; }

form {
  margin-bottom: 0;
  position: relative; }

@media (max-width: 500px) {
  .row {
    flex-direction: column; }
  #home-container .row .to-survey a {
    display: none; }
  #home-container .row .intro a {
    display: block; }
  #home-container #startBtn {
    padding: 3rem 0; } }

button {
  margin: 3rem 0;
  width: 25rem;
  height: 6rem;
  background: linear-gradient(to left top, #33c3f0 50%, #33c3f0 50%);
  border-style: none;
  color: #fff;
  font-size: 1.8rem;
  letter-spacing: 3px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 0px;
  overflow: hidden;
  transition: all 0.5s;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); }

button span {
  position: absolute;
  display: block; }

button span:nth-child(1) {
  height: 3px;
  width: 200px;
  top: 0px;
  left: -200px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #f4f4f4);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span1 2s linear infinite;
  animation-delay: 1s; }

@keyframes span1 {
  0% {
    left: -200px; }
  100% {
    left: 200px; } }

button span:nth-child(2) {
  height: 70px;
  width: 3px;
  top: -70px;
  right: 0px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #f4f4f4);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span2 2s linear infinite;
  animation-delay: 2s; }

@keyframes span2 {
  0% {
    top: -70px; }
  100% {
    top: 70px; } }

button span:nth-child(3) {
  height: 3px;
  width: 200px;
  right: -200px;
  bottom: 0px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), #f4f4f4);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  animation: span3 2s linear infinite;
  animation-delay: 3s; }

@keyframes span3 {
  0% {
    right: -200px; }
  100% {
    right: 200px; } }

button span:nth-child(4) {
  height: 70px;
  width: 3px;
  bottom: -70px;
  left: 0px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), #f4f4f4);
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  animation: span4 2s linear infinite;
  animation-delay: 4s; }

@keyframes span4 {
  0% {
    bottom: -70px; }
  100% {
    bottom: 70px; } }

button:hover {
  transition: all 0.5s;
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4); }

button:hover span {
  animation-play-state: paused; }

@keyframes moveInLeft {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateX(0); } }

@keyframes moveInBig {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
